# usage: cp .env.secrets.example .env.secrets
# change variable to your desired input

# required
# paste from = terraform output -raw kestra_service_account_key_base64
GCP_CREDS_BASE64=

# optional, required if using flows/99_monitoring_alerts.yaml
GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=