# usage: cp .env.example .env
# change variable to your desired input

KESTRA_POSTGRES_PASSWORD=ChangeMe123!
KESTRA_BASIC_AUTH_USERNAME=admin@kestra.io
# kestra password need atleast 8 chars, 1 uppercase letter, 1 number
KESTRA_BASIC_AUTH_PASSWORD=ChangeMe123!
# since 8080 is common port, we use different port to avoid error
KESTRA_UI_PORT=18081